body {
    background-image: url("assets/grey-wall.png");

}
  .card-text-container {
      background-image:url("assets/plaque-gold.png");
      width: auto;
      background-size: 100% 100%;

        background-repeat:   no-repeat;
    background-position: center center; 

  }

  .card-text {
    text-align: center;
    padding: 35px;
}
p, h3{
  font-family: 'Libre Baskerville', serif;
}
  
  
  .card-image-container {
    background-image:url("assets/frame.png");
    width: auto;
    background-size: 100% 100%;
        background-repeat:   no-repeat;
    background-position: center center; 
  }

  .card-image {
    background-image:url("assets/100.png");
    background-repeat:   no-repeat;
    background-position: center center; 
  }
