body {
    background-image: url("assets/modern-wall.png");

}
  .card-text-container {
      width: auto;
      background-size: 100% 100%;

        background-repeat:   no-repeat;
    background-position: center center; 

  }

  .card-text {
    text-align: center;
    padding: 35px;
}
p, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}
  
  
.card-image-container {
  background-color: white;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: auto;
  background-size: 100% 100%;
  background-repeat:   no-repeat;
  background-position: center center; 
}

  .card-image {
    background-image:url("assets/100.png");
    background-repeat:   no-repeat;
    background-position: center center; 
  }
