body {
    background-image: url("assets/doge.jpg");

}
  .card-text-container {
    background-color: rgba(255,255,255,.5);
    width: auto;
      background-size: 100% 100%;

        background-repeat:   no-repeat;
    background-position: center center; 

  }

  .card-text {
    text-align: center;
    padding: 35px;
}
p, h3 {
  font-family: 'Comic Sans MS', sans-serif;
  color: #ff0080;
}
  
  
.card-image-container {
  background-image:url("assets/rainbow.png");
  width: auto;
  background-size: 100% 100%;
  background-repeat:   no-repeat;
  background-position: center center; 
}

  .card-image {
    background-image:url("assets/100.png");
    background-repeat:   no-repeat;
    background-position: center center; 
  }
